.everyday {
  padding: 0 0 59px 0;

  .everyday_wrapper {

    .everyday_title {
      font-size: 36px;
      line-height: 1;
      text-align: center;
      color: $white;
      margin-bottom: 25px;
      font-family: $font-medium !important;
    }

    .everyday_subtitle {
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: $white;
      max-width: 848px;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    .everyday_list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .everyday_item {
        //width: 497px;
        flex: 0 0 calc(100% / 2 - 15px);
        height: 270px;
        background: linear-gradient(180deg, #FB5ECF 0%, #00FFF0 100%);
        border-radius: 8px;

        &:first-child {
          margin-bottom: 30px;
        }

        .everyday_card {
          text-decoration: none;
          display: block;
          height: 100%;
          position: relative;

          .card_img {
            width: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            //bottom: 20px;
            bottom: 30px;
            .card_desk{
              display: block;
            }
            .card_mob{
              display: none;
            }
            img {
              transition: transform 0.3s ease-in-out;
              display: block;
              margin: 0 auto;
            }

          }

          .card_text {
            font-family: $font-medium !important;
            font-size: 24px;
            line-height: 1;
            color: $black;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 18px;
          }

          &:hover, &:active {
            .card_img img {
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .everyday {
    padding: 47px 0 43px 0;

    .everyday_wrapper {
      padding: 0;
      max-width: 720px;

      .everyday_title {
        font-size: 24px;
        margin-bottom: 10px;
      }

      .everyday_subtitle {
        font-size: 20px;
        line-height: 24px;
        max-width: 636px;
      }

      .everyday_list {
        .everyday_item {
          flex: 0 0 calc(100% / 2 - 10px);
          height: 200px;

          &:first-child {
            margin-bottom: 20px;
          }

          .everyday_card {

            .card_img {
              bottom: 44px;
              img {
                max-height: 150px;
              }

            }

            .card_text {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .everyday {
    padding: 0 0 33px 0;

    .everyday_wrapper {
      max-width: 288px;

      .everyday_title {
        font-size: 24px;
        margin-bottom: 10px;
      }

      .everyday_subtitle {
        font-size: 18px;
        line-height: 20px;
      }

      .everyday_list {
        flex-direction: column;
        max-width: 288px;
        margin: 0 auto;
        .everyday_item {
          flex: 0 0 100%;
          height: 220px;

          &:not(:last-child) {
            margin-bottom: 20px;
          }

          .everyday_card {

            .card_img {
              bottom: 40px;
              .card_desk{
                display: none;
              }
              .card_mob{
                display: block;
              }
              img {
              }

            }

            .card_text {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}