.gifts {
  position: relative;

  .decor_string1 {
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  }

  .gifts_wrapper {
    position: relative;
    z-index: 1;

    .gifts_top {
      .gifts_title {
        max-width: 672px;
        margin: 0 auto;
        font-family: $font-medium !important;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: $white;
      }

      .gifts_subtitle {
        font-family: $font-medium !important;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: $primary1;
        margin-top: 15px;
        margin-bottom: 34px;
      }
    }

    .gifts_row {
      display: flex;
      justify-content: space-between;
      padding-bottom: 35px;

      .gifts_item {
        flex: 0 1 calc(100% / 2 - 15px);

        .gifts_card {
          border-radius: 8px;

          img {
            border-radius: 8px;
          }

          &:hover {
            box-shadow: 0px -10px 15px -6px #00FFF0, /* top - THE RED SHADOW */
            0px 5px 15px 0px #FB5ECF, /* bottom */
            5px 0px 15px 0px #00FFF0, /* right */
            -5px 0px 15px 0px #FB5ECF; /* left */
          }
        }

        .item_title {
          font-size: 20px;
          line-height: 24px;
          color: $white;
          font-family: $font-medium !important;
          margin-top: 20px;
          margin-bottom: 14px;
        }

        .item_text {
          font-size: 16px;
          line-height: 18px;
          color: $white;
          margin-bottom: 14px;
        }

        .item_link {
          cursor: pointer;
          text-decoration: none;
          font-size: 14px;
          line-height: 1;
          color: $primary1;
        }
      }
    }

    .gifts_comment {
      font-size: 14px;
      line-height: 17px;
      color: #738397;
      margin-top: 7px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .gifts {

    .decor_string1 {
      display: none;
    }

    .gifts_wrapper {
      .gifts_top {
        .gifts_title {
          font-size: 30px;
          line-height: 36px;
        }

        .gifts_subtitle {
          font-size: 20px;
          line-height: 24px;
          margin-top: 5px;
          margin-bottom: 15px;
        }
      }

      .gifts_row {
        padding-bottom: 35px;

        .gifts_item {
          flex: 0 1 calc(100% / 2 - 15px);

          .item_title {
            font-size: 18px;
            line-height: 22px;
            margin-top: 10px;
            margin-bottom: 10px;
            min-height: 46px;
          }

          .item_text {
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .gifts {

    .gifts_wrapper {
      .gifts_top {
        .gifts_title {
          font-size: 20px;
          line-height: 24px;
        }

        .gifts_subtitle {
          font-size: 18px;
          line-height: 22px;
          margin-top: 5px;
          margin-bottom: 15px;
        }
      }

      .gifts_row {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 0px;

        .gifts_item {
          flex: none;
          margin-bottom: 40px;
          .item_title {
            font-size: 16px;
            line-height: 19px;
            padding: 0 15px;
          }

          .item_text {
            font-size: 14px;
            line-height: 17px;
            padding: 0 15px;
          }

          .item_link {
            line-height: 17px;
            margin-left: 15px;
          }
        }
      }

      .gifts_comment {
        font-size: 12px;
        line-height: 14px;
        margin-top: 7px;
        padding: 0 15px;
      }
    }
  }
}