.nygifts {
  padding-bottom: 90px;
  padding-top: 127px;

  .promo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .promo_left {
      position: relative;
      width: 50%;

      .promo_img-wr {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .promo_right {
      width: 50%;

      .promo_content {
        max-width: 470px;

        .text1 {
          font-family: $font-medium !important;
          margin-bottom: 28px;
          font-size: 36px;
          line-height: 40px;
          color: $primary2;
        }

        .text2 {
          font-family: $font-medium !important;
          font-size: 24px;
          line-height: 26px;
          margin-bottom: 15px;

          color: $white;
        }
      }

      .promo_link {
        font-family: $font-medium !important;
        cursor: pointer;
        text-decoration: none;
        font-size: 20px;
        line-height: 1;
        color: $primary1;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .nygifts {
    padding: 85px 0 40px 0;

    .nygifts_top {
      max-width: 710px;
      margin: 73px auto 5px;
      font-size: 30px;
      line-height: 36px;
    }

    .promo {
      height: auto;
      padding: 25px 0;
      box-sizing: border-box;

      .promo_left {
        img {
          max-width: 230px;
        }
      }

      .promo_right {

        .promo_content {
          max-width: 293px;

          p {

          }

          .text1 {
            margin-bottom: 17px;
            font-size: 20px;
            line-height: 22px;
          }

          .text2 {
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 20px;
          }
        }

        .promo_link {
          cursor: pointer;
          text-decoration: none;
          font-size: 20px;
          line-height: 1;
          color: $primary1;
        }
      }
    }
  }

}

@media only screen and (max-width: 767px) {
  .nygifts {
    padding: 0;

    .showcase_bottom {
      max-width: 289px;
      margin: 20px auto 22px;
      font-size: 18px;
      line-height: 22px;
    }

    .promo {
      padding: 20px;
      flex-direction: column;

      .promo_left {
        width: 100%;
        text-align: center;

        h4 {
          font-size: 20px;
          line-height: 24px;
          margin-bottom: 10px;
        }
      }

      .promo_right {
        width: 100%;
        margin-top: 14px;

        #bf2020_form {
          display: flex;
          flex-direction: column;
          align-items: center;

          .subscription_tooltip {
            // display: none;
          }
        }
      }
    }
  }
}