.spoiler {
 //padding: 0 0 190px 0;
  padding: 0 0 135px 0;

  .spoiler_wrapper {
    position: relative;
    text-align: center;

    h3 {
      font-size: 30px;
      line-height: 1;
      color: $white;
      margin-bottom: 30px;
      font-family: $font-medium !important;
    }

    .spoiler_content {
      position: relative;

      .decor_img {
        position: relative;
        z-index: 1;
        img{
          margin-left: auto;
          margin-right: 40px;
        }
      }

      .decor_text {
        span{
          font-family: $font-medium !important;
        }
        position: absolute;
        right: 0;
        bottom: 95px;
        z-index: 1;

        width: 1499.72px;
        height: 60px;
        background: linear-gradient(270.09deg, #FB5ECF 0.33%, #00FFF0 67.74%);
        transform: rotate(6deg);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 48px;

        font-size: 30px;
        line-height: 1;
        color: $black;
      }

      .decor_text1_mob, .decor_text1_mob, .decor_mob {
        display: none;
        span{
          font-family: $font-medium !important;
        }
      }

      .decor_price {
        span{
          font-family: $font-medium !important;
          font-weight: bold;
        }
        position: absolute;
        right: 7px;
        bottom: -30px;
        z-index: 0;

        width: 771.44px;
        height: 60px;
        background: linear-gradient(63.31deg, #FB5ECF 44.93%, #7B0059 75.94%);
        transform: rotate(-6deg);
        text-align: left;

        font-size: 48px;
        line-height: 1;
        color: $black;
        padding-left: 48px;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .spoiler {
    //padding: 0 0 55px 0;
    padding: 0 0 10px 0;

    .spoiler_wrapper {
      h3 {
        font-size: 24px;
      }

      .spoiler_content {

        .decor_text {
          position: absolute;
          right: 0;
          bottom: 85px;
          z-index: 1;

          width: 905px;
          height: 50px;
          padding-right: 48px;

          font-size: 24px;
        }

        .decor_price {
          position: absolute;
          right: 7px;
          bottom: 0px;
          z-index: 0;

          width: 692px;
          height: 50px;
          transform: rotate(-6deg);
          text-align: left;

          padding-left: 48px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .spoiler {

    .spoiler_wrapper {

      .spoiler_content {

        .decor_text {
         // bottom: 95px;
          //bottom: 74px;
          bottom: 70px;

         // width: 905px;
          //width: 650px;
          width: 700px;

          //font-size: 24px;
          font-size: 20px;
        }

        .decor_price {
          //width: 692px;
          width: 650px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .spoiler {
    padding: 36px 0 90px 0;

    .spoiler_wrapper {
      h3 {
        font-size: 20px;
      }

      .spoiler_content {
        max-width: 286px;
        margin: 0 auto;

        .decor_text {
          display: none;
        }

        .decor_text1_mob {
          position: absolute;
          right: -5px;
          bottom: 50px;
          z-index: 1;
          box-sizing: border-box;

          width: 307.53px;
          height: 30px;
          background: linear-gradient(270.09deg, #FB5ECF 0.33%, #00FFF0 67.74%);
          transform: rotate(6deg);
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-right: 10px;

          font-size: 18px;
          line-height: 1;
          color: $black;
        }

        .decor_text2_mob {
          span{
            font-family: $font-medium !important;
          }
          position: absolute;
          right: -5px;
          bottom: 0px;
          z-index: 1;

          width: 301.72px;
          height: 30px;
          background: linear-gradient(270.09deg, #FB5ECF 0.33%, #00FFF0 67.74%);
          transform: rotate(6deg);
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-right: 10px;

          font-size: 18px;
          line-height: 1;
          color: $black;
        }

        .decor_mob {
          display: block;
          position: absolute;
          right: 0;
          bottom: 20px;
          z-index: 0;
          box-sizing: border-box;

          width: 258.24px;
          height: 30px;
          background: linear-gradient(63.31deg, #FB5ECF 44.93%, #7B0059 75.94%);
          transform: rotate(-6deg);
        }

        .decor_price {
          position: absolute;
          right: 0;
          bottom: -30px;
          z-index: 0;
          box-sizing: border-box;

          width: 258.24px;
          height: 30px;
          background: linear-gradient(63.31deg, #FB5ECF 44.93%, #7B0059 75.94%);
          transform: rotate(-6deg);
          text-align: left;

          font-size: 24px;
          font-weight: bold;
          line-height: 1;
          letter-spacing: -1px;
          color: $black;
          padding-left: 5px;
        }
      }
    }
  }
}