.stress {
  padding-bottom: 90px;

  .stress_top {
    max-width: 848px;
    margin: 109px auto 13px;
    text-align: center;


    .text1 {
      font-size: 36px;
      line-height: 43px;
      color: $primary1;
      font-family: $font-medium !important;
    }

    .text2 {
      font-size: 36px;
      line-height: 43px;
      color: $white;
      font-family: $font-medium !important;
    }
  }

  .promo {
    display: block;
    background: linear-gradient(89.86deg, $primary1 0.1%, $primary2 99.88%);
    border-radius: 8px;
    padding: 2px;
    box-sizing: border-box;

    height: 290px;
    width: 100%;
    text-decoration: none;
    transition: box-shadow 0.3s ease-in-out;

    &:hover, &:active {
      box-shadow: 0px -10px 15px -6px #00FFF0, /* top - THE RED SHADOW */
      0px 5px 15px 0px #FB5ECF, /* bottom */
      5px 0px 15px 0px #00FFF0, /* right */
      -5px 0px 15px 0px #FB5ECF; /* left */
    }

    .promo_inner {
      width: 100%;
      height: 100%;
      background: radial-gradient(48.05% 599.06% at 28.81% 51.38%, #212B36 0%, #000000 100%);
      border-radius: 8px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .promo_left {
        width: 50%;
      }

      .promo_right {
        width: 50%;

        .promo_content {
          max-width: 470px;

          p {
            font-size: 24px;
            line-height: 29px;
            color: $white;

            span {
              color: $primary2;
            }
          }

          .text1 {
            margin-bottom: 15px;
          }

          .text2 {
            margin-bottom: 10px;
          }
        }

        .promo_link {
          font-size: 20px;
          line-height: 1;
          color: $primary1;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .stress {
    padding: 0 0 53px 0;

    .stress_top {
      max-width: 710px;
      margin: 73px auto 5px;

      .text1, .text2 {
        font-size: 30px;
        line-height: 36px;
      }
    }

    .promo {
      height: 250px;

      .promo_inner {
        .promo_left {

        }

        .promo_right {

          .promo_content {
            max-width: 346px;

            p {
              font-size: 18px;
              line-height: 22px;
            }

            .text1 {
              margin-bottom: 15px;
            }

            .text2 {
              margin-bottom: 10px;
            }
          }


        }
      }

    }
  }

}

@media only screen and (max-width: 767px) {
  .stress {
    padding: 0 0 48px 0;
    max-width: 320px;
    margin: 0 auto;

    .stress_top {
      margin: 38px auto 17px;

      .text1, .text2 {
        font-size: 20px;
        line-height: 24px;
      }
    }

    .promo {
      height: auto;

      .promo_inner {
        flex-direction: column;
        padding: 17px;
        box-sizing: border-box;

        .promo_left {
          width: 100%;
          text-align: center;

          h4 {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 10px;
          }
        }

        .promo_right {
          width: 100%;
          margin-top: 14px;

          .promo_content {

            p {
              font-size: 14px;
              line-height: 17px;
            }
          }

          .promo_link {
            font-size: 14px;
            line-height: 17px;
          }

        }
      }

    }
  }
}