.btn_type1 {
  font-family: $font-medium !important;
  text-decoration: none;
  width: 290px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &:after {
    animation: sheen1 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    content: '';
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -55px;
    transform: rotateZ(-45deg);
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.5) 50%, transparent);
  }

  @keyframes sheen1 {
    100% {
      left: 300px;
    }
  }

  font-size: 18px;
  line-height: 1;
  color: $black;

  background: linear-gradient(89.86deg, $primary1 0.1%, $primary2 99.88%);
  border-radius: 30px;

  &:hover, &:active {
    background: linear-gradient(89.86deg, $primary2 0.1%, $primary1 99.88%);
  }
}

.btn_type2 {
  font-family: $font-medium !important;
  border: none;
  outline: none;
  width: 380px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  font-size: 18px;
  line-height: 1;

  position: relative;
  overflow: hidden;

  background: linear-gradient(89.86deg, $primary1 0.1%, $primary2 99.88%);
  border-radius: 30px;

  &:hover, &:active {
    background: linear-gradient(89.86deg, $primary2 0.1%, $primary1 99.88%);
  }

  &:after {
    animation: sheen2 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    content: '';
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -55px;
    transform: rotateZ(-45deg);
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.5) 50%, transparent);
  }

  @keyframes sheen2 {
    100% {
      left: 300px;
    }
  }
}

.btn_type3 {
  font-family: $font-medium !important;
  color: $white;
  width: 220px;
  height: 48px;
  background: url("https://cdnparftop.parfums.ua/public/upload/newAdminUpload/Landing/bf2020/button_bg.svg") top center no-repeat;
  background-size: cover;
  text-decoration: inherit;
  border-radius: 30px;
  border: none;
  outline: none;

  position: relative;
  overflow: hidden;

  &:after {
    animation: sheen3 2s forwards;
    animation-iteration-count: infinite;
    content: '';
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -55px;
    transform: rotateZ(-45deg);
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.5) 50%, transparent);
  }

  @keyframes sheen3 {
    100% {
      left: 220px;
    }
  }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .btn_type1 {
    width: 197px;
  }

  .btn_type2{
    max-width: 307px;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .btn_type1{
    max-width: 288px;
    width: 100%;
  }
  .btn_type2{
    max-width: 288px;
    width: 100%;
  }
}