[v-cloak] {
	opacity: 0;
}

html,
body {
}

body {
	//font-family: $font-main;

}

.popup-opened{
	overflow: hidden;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
}

.black_friday_2020_2.container *{
	font-family: $font-main !important;
}
.black_friday_2020_2.container{
	background: $black;
}

.img-wr {
	text-align: center;
	img {
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
	}
}

.row {
	display: flex;
}

img{
	display: block;
}

//.container {
//	@include min-max(320px, 1600px, 0);
//}

.container {
	@include min-max(320px, 100%, 0);
	overflow: hidden;

	//styles to remove wrapper on server side styles
	max-width: initial !important;
	padding: 0!important;
}

.wrap {
	//@include min-max(320px, 1600px, 18%);
	@include min-max(320px, 1024px, 0);
}
