$black: #000;
$white: #fff;

$primary1: #FB5ECF;
$primary2: #00FFF0;
$primary3: #5350FD;
$primary4: #212B36;
$primary5: #919EAB;
$primary6: #D4DBE4;
$primary7: #A9A9A9;
$primary8: #FEFD00;


$font-main: 'Gotham Pro';
$font-medium: 'Gotham Pro-Medium';
$font-bold: 'Gotham Pro-Bold';